<nav class="sticky top-0 z-50 flex items-center justify-between px-26 py-5 bg-[#0a0f1e] border-b border-white/10">
  <div class="flex items-center gap-3">
    <div class="w-10 h-10 rounded-full bg-blue-600 flex items-center justify-center font-bold text-white text-sm">A</div>
    <span class="text-white font-semibold tracking-wide text-lg">AKHILESH <span class="text-blue-500">SHARMA</span></span>
  </div>

  <ul class="flex gap-8 list-none">
    <li><a routerLink="/" fragment="home" class="text-white hover:text-white text-lg transition-colors">Home</a></li>
    <li><a routerLink="/" fragment="about" class="text-white hover:text-white text-lg transition-colors">About</a></li>
    <li><a routerLink="/" fragment="skills" class="text-white hover:text-white text-lg transition-colors">Skills</a></li>
    <li><a routerLink="/" fragment="projects" class="text-white hover:text-white text-lg transition-colors">Projects</a></li>
    <li><a routerLink="/" fragment="contact" class="text-white hover:text-white text-lg transition-colors">Contact</a></li>
  </ul>

    <div class="flex items-center gap-4">
        <a href="https://github.com/" target="_blank" class="text-blue-400 hover:text-white transition-colors">
            <fa-icon [icon]="faGithub" class="text-xl"></fa-icon>
        </a>

        <a href="https://linkedin.com/" target="_blank" class="text-blue-400 hover:text-white transition-colors">
            <fa-icon [icon]="faLinkedin" class="text-xl"></fa-icon>
        </a>

        <a href="https://x.com/" target="_blank" class="text-blue-400 hover:text-white transition-colors">
            <fa-icon [icon]="faXTwitter" class="text-xl"></fa-icon>
        </a>
    </div>
</nav>